// Base colors
$main-color: #1C1A19;

// Black colors
$black_1: #000;

// White colors
$white_1: #FFF;

// Yellow colors
$yellow_1: #FDBF5A;

// Grey colors
$grey_1: #828282;
$grey_2: #D8D7D5;
$grey_3: #737373;

// Text colors
$color-text: $black_1;
$color-text--alt: $grey_3;
$color-text--secondary: $white_1;
$color--text-active: $yellow_1;