@mixin flex($justify: flex-start, $align: stretch, $wrap: nowrap, $dir: row) {
    display: flex;

    @if $justify != flex-start {
        justify-content: $justify;
    }
    
    @if $align != stretch {
        align-items: $align;
    }

    @if $wrap != nowrap {
        flex-wrap: $wrap;
    }

    @if $dir != row {
        flex-direction: $dir;
    }
}